# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env


# Log files
logs/
*.log
*.log.*

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Temporary files
tmp/
temp/
*.tmp
*.temp

